:root {
    --bg-color: #FFFFFF;
    --color-2: #A2BF63;
    --color-3: #E1F25C;
    --color-4: #5FA0D9;
    --color-5: #85A050;

    --primary-font: 'Fjalla One', sans-serif;
    --secondary-font: 'Assistant', sans-serif;
    --main-text-color: #000;

    --white-space: 1rem;
}

main {
    margin: 20px;
}
img {
    width: 104%;
    margin: -30px;
    height: 60%;

}
nav {
    display: flex;
    flex-direction: row;
}

p{
    width: 50%;

}

button {
    border-radius: 20px;
    background-color: var (--color-3);
}
