@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --bg-color: #FFFFFF;
    --color-2: #A2BF63;
    --color-3: #E1F25C;
    --color-4: #5FA0D9;
    --color-5: #85A050;

    --primary-font: 'Lato', sans-serif;
    ;
    --secondary-font: 'Assistant', sans-serif;
    --main-text-color: #000;

    --white-space: 1rem;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

main {
    margin: 20px;
}

img {
    width: 104%;
    margin: 20px -30px 0 -40px;
    z-index: 10;

}

nav {
    position: relative;
    top: 20px;
    left: 60%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    border-radius: 30px;
    animation: slide-in 1s ease-out;
    font-family: var(--primary-font);
}

ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
}

li:not(:last-child) {
    margin-right: 40px;
}

li {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: background 0.2s;
}

a {
    color: #004155;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
}

a:hover {
    background: #EDE937;
    border: 2px solid #EDE937;
    border-right: 2px solid #EDE937;
    border-bottom: 2px solid #EDE937;
}

a {
    color: #004155;
}

@keyframes slide-in {
    0% {
        top: -50px;
    }

    40% {
        top: 20px;
    }

    70% {
        top: 10px;
    }

    100% {
        top: 15px;
    }
}

p {
    width: 50%;

}

button {
    border-radius: 20px;
    background-color: var(--color-3);
    padding: 15px;
    font-size: 20px;
    border: var(--color-2) solid 4px;
    font-family: var(--primary-font);
    z-index: 20;
    cursor: pointer;

}

#news {
    margin: 0 -30px;
    width: 1600px;
    background-color: #C0D2CC;
}

#news img {

    margin: 20px 50px 10px 55px;
    width: 400px;
    height: 250px;
}



#join {
    position: absolute;
    left: 500px;
    top: 500px;
}

#donate {
    position: absolute;
    left: 750px;
    top: 500px;
}

#logo {
    position: absolute;
    width: 10%;
    top: -15px;
    left: 90px;
}

h1 {
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 24px;
    padding: 15px;
}

#news1 {
    position: absolute;
    left: 5%;
    width: 700px;
    text-align: center;
}

#news2 {
    position: absolute;
    left: 39%;
    width: 700px;
    text-align: center;

}

#news3 {
    position: absolute;
    left: 72%;
    width: 700px;
    text-align: center;

}

#seeall {
    margin: 160px 700px 20px;
    padding: 10px;
}

h2 {
    position: absolute;
    top: 220px;
    left: 400px;
    color: white;
    font-size: 50px;
}



button:hover {
    transform: scale(1.1);
}

#garden button {
    position: absolute;
    top: 1080px;

}
#garden p{
    width: 500px;
    padding: 20px 10px 0 150px;
    font-size: 20px;
}
